.cart{
    position: sticky;
    top: 0;
    padding: 45px 30px;
}
.Order-title{
    margin-left: 40px ;
    color: #1C2B35;
    font-weight: 600;
    font-size: 25px;
}
.order-info{
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
}
#total{
    font-size: 20px;
    font-weight: 500 ;
}
